<mat-card class="login_container">
	<h1>Login</h1>
	<ng-container>
		<form [formGroup]="fg">
			<mat-form-field appearance="fill" class="fg">
				<mat-label>username</mat-label>
				<input matInput type="text" formControlName="username">
				<mat-error *ngIf="username.invalid && !username.untouched">{{getFormErrorMessege()}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill" class="fg">
				<mat-label>password</mat-label>
				<input matInput type="text" formControlName="password">
			</mat-form-field>
			<button mat-raised-button color="accent" (click)="login()">Login</button>
		</form>
	</ng-container>
</mat-card>